<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label class="header" text="Chainring"></Label>
    <ActionItem icon="~/app/images/home.png" ios.position="right" (tap)="homeTap('/home')"></ActionItem>


</ActionBar>
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY">
</script>
<ScrollView>
    <Page xmlns:maps="nativescript-google-maps-sdk" xmlns="http://schemas.nativescript.org/tns.xsd" class="body">
        <StackLayout orientation="vertical" width="100%" height="95%">
            <TextField #searchPlace id="searchBox" text="" backgroundColor="white" width="95%" height="15%"
            (returnPress)="getPlaces(searchPlace.text)" hint="Search Places" fontSize="25"></TextField>
            <maps:mapView width="95%" height="400" [latitude]="latitude" [longitude]="longitude" mapAnimationsEnabled="{{ mapAnimationsEnabled }}"
                [zoom]="zoom" padding="{{padding}}" (mapReady)="onMapReady($event)" (markerSelect)="onMarkerPick($event)" (coordinateTapped)="removeGetDirections()">
            </maps:mapView>
            <Button *ngIf=markerSelected width="95%" height="100" [text]=bottomButtonText (tap)="getDirections()" fontSize="25"></Button>
            <!-- <FlexboxLayout *ngIf=markerSelected align-items="stretch" flexDirection="column" width="100%"> -->
                <StackLayout *ngFor="let step of turnByList" class="map-info-line" height="75">
                    <Label [text]="step[0]" height="40" textWrap="true"></Label>
                    <Label [text]="step[1]" height="20" textWrap="true"></Label>
                </StackLayout>
                <!-- <StackLayout *ngFor="let step of safeTurnByList" class="map-info-line" height="75">
                    <Label [text]="step[0]" height="40" textWrap="true"></Label>
                    <Label [text]="step[1]" height="20" textWrap="true"></Label>
                </StackLayout> -->
            <!-- </FlexboxLayout> -->
        </StackLayout>
    </Page>
</ScrollView>