<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton> -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Login"></Label>

    <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label class="header" text="Chainring"></Label>
    <ActionItem icon="~/app/images/home.png" ios.position="right"></ActionItem> -->

</ActionBar>


<GridLayout class="body">
    <StackLayout>
        <TextField #username text="" backgroundColor="white" width="95%" height="100" hint="Enter Username"  autocorrect="false" fontSize="25"></TextField>
        <TextField #userpass text="" backgroundColor="white" width="95%" height="100" hint="Enter Password" autocorrect="false" fontSize="25" secure="true"></TextField>
        <Button class="button" text="Login" (tap)="onLoginTap(username.text, userpass.text)"></Button>
        <Label text="Don't have an account? Sign-up Here" (tap) = "signup()"></Label>
    </StackLayout>
</GridLayout>