<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label class="header" text="Chainring"></Label>
    <ActionItem icon="~/app/images/home.png" ios.position="right"></ActionItem>

</ActionBar>

<GridLayout class="body">  
    <Button class="button" text="Login" (tap)="onLoginTap()"></Button>
</GridLayout>