<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label class="header" text="Chainring"></Label>
    <ActionItem icon="~/app/images/home.png" ios.position="right" (tap)="homeTap('/home')"></ActionItem>


</ActionBar>
<Page class="body">
    <StackLayout>
        <Label width="95%" height="10%" class="commute-header" text="Select Destination Below" style="font-size: 28em;"></Label>
        <StackLayout width="95%" height="95%">
            <StackLayout *ngFor="let loc of locationList; let i = index" class="commute-info-line" height="10%" [attr.data-index]="i">
                <Label #index [text]="loc.name" [lat]=loc.lat [lng]=loc.lon height="100" (tap)="routeToRide(index.lat, index.lng)"></Label>
            </StackLayout>
            <Label width="95%" height="8%" class="commute-header" text="+" style="padding-top: -7%;" (tap)="addLocation()"></Label>
        </StackLayout>
    </StackLayout>
</Page>