<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Commute"></Label>
</ActionBar>
<Page class="body">
    <StackLayout>
        <Label width="95%" height="10%" class="commute-header" text="Select Destination Below" font></Label>
        <StackLayout width="95%" height="95%">
            <Label #homeLoc [lat]=homeLat [lng]=homeLng class="commute-info-line" text="Home" height="10%" (tap)="routeToRide(homeLoc.lat, homeLoc.lng)"></Label>
            <Label #workLoc [lat]=workLat [lng]=workLng class="commute-info-line" text="Work" height="10%" (tap)="routeToRide(workLoc.lat, workLoc.lng)"></Label>
            <StackLayout *ngFor="let loc of locationList; let i = index" class="commute-info-line" height="10%" [attr.data-index]="i">
                <Label #index [text]="loc.label" [lat]=loc.lat [lng]=loc.lng height="100" (tap)="routeToRide(index.lat, index.lng)"></Label>
                
            </StackLayout>
        </StackLayout>
    </StackLayout>
</Page>