<ActionBar class="action-bar">
    <!-- <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> -->
    <Label class="action-bar-title" text="Signup"></Label>
</ActionBar>


<GridLayout class="body">
    <StackLayout>
        <TextField #username text="" backgroundColor="white" width="95%" height="100" hint="Enter Username"  autocorrect="false" fontSize="25"></TextField>
        <TextField #userpass text="" backgroundColor="white" width="95%" height="100" hint="Enter Password" autocorrect="false" fontSize="25" secure="true"></TextField>
        <Button class="button" text="Signup" (tap)="onSignupTap(username.text, userpass.text)"></Button>
        <Label text="Have an account? Login Here" (tap) = "login()"></Label> 
    </StackLayout>
</GridLayout>
