<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem text="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="header" text="Chainring"></Label>
</ActionBar>  
<Page>
    <FlexboxLayout class="body" flexDirection="column"> 
        
        <Button class="button" text="Commute"></Button>
        <Button class="button"  (tap)="onButtonLinkTap('/map')">
        <FormattedString><Span class="fas" text="&#xf5a0;   Map"></Span></FormattedString></Button>
        <Button class="button" (tap)="onButtonLinkTap('/stats')">
        <FormattedString><Span class="fas" text="&#xf080;   Stats"></Span></FormattedString></Button>
        <Button class="button" (tap)="onButtonLinkTap('/ride')">
        <FormattedString><Span class="fas" text="&#xf206;  Ride"></Span></FormattedString></Button>
    </FlexboxLayout>
</Page>